<a href="https://colab.research.google.com/github/Ayush-686/python-files_ayush/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

remainder checking

In [31]:
a=34
b=5
print("Remainder when a is divided by b",a%b)

Remainder when a is divided by b 4

swap using two variables

In [32]:
a=5
b=8
a=a+b
b=a-b
a=a-b
print("the value after swapping is:",a,b)

the value after swapping is: 8 5

swap using third variable

In [33]:
a=9
b=7
temp = a
a=b
b=temp
print("the value after swapping is:",a,b)

the value after swapping is: 7 9

swap withput using third variable

In [34]:
a=4
b=2
a,b=b,a
print("the value after swapping is:",a,b)

the value after swapping is: 2 4

odd or even check

In [35]:
num=int(input("enter a number"))
if num%2==0:
  print("the number is even")
else:
  print("the number is odd")

enter a number12
the number is even

positive or negative checking

In [36]:
a=int(input("enter a number"))
if a>0:
  print("The number is positive")
elif a<0:
  print("the number is negative")
else:
  print("the number is zero")

enter a number16
The number is positive

find largest among three numbers

In [37]:
a=int(input("Enter first number"))
b=int(input("enter second number"))
c=int(input("enter third number"))

if a>b and a>c:
    largest = a
elif b>a and b>c:
        largest = b
else:
        largest = c

print("the largest among three numbers is:",largest)

Enter first number96
enter second number78
enter third number-895632
the largest among three numbers is: 96

sqare root of a number

In [38]:
num = float(input("enter a number"))
sqrt= num**0.5
print("the square root of the number is:",sqrt)

enter a number25
the square root of the number is: 5.0

check leap year or not

In [45]:
year=int(input("enter a year"))
if year%400==0:
  print("it is a leap year")
elif year%100==0:
    print("it is not a leap year")
elif year%4==0:
    print("it is a leap year")
else:
      print("not a leap year")

enter a year1700
it is not a leap year